/* common shared styles */
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.button-primary{
    background-color: rgb(253, 96, 38);
    border:0;
    border-radius: 5px;
    font-size: 20px;
    font-style:normal ;
    font-weight: 700;
    color: white;
    padding:15px 35px ;
}

/* nav releted styles */
nav{
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.nav-title{
    color: rgb(53, 11, 11);
    font-size: 42px;
    font-weight: 800;
}
.orenge-color{
    color: rgb(240, 67, 5);
}
nav > ul{
    display: flex;
   
    align-items: center;
    
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(68, 53, 97);
}